[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[user]
	email = samuelsheehy95@gmail.com
	name = Samuel Sheehy
[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[color "status"]
	updated = yellow
	changed = yellow
	untracked = red
[init]
	defaultBranch = main
